<%- model_class = Manager -%>
<div class="page-header">
  <h1>Usuários</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:Nome) %></th>
      <th><%= model_class.human_attribute_name(:Telefone) %></th>
      <th><%=t '.actions', :default => t("helpers.Ações") %></th>
    </tr>
  </thead>
  <tbody>
    <% @managers.each do |manager| %>
      <tr>
        <td><%= manager.email %></td>
        <td><%= manager.password %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.Ver")),
                      manager_path(manager), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edita")),
                      edit_manager_path(manager), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.apagar")),
                      manager_path(manager),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_manager_path,
            :class => 'btn btn-primary' %>
